<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
</head>
<body class="container">
<header th:replace="layout/user/header :: headerCustommer"></header>
<section class="container new-product">
    <h2 style="text-align: center">Sản phẩm</h2>
    <div class="row">
        <div class="col-lg-3">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="page-link" th:href="@{/product/listSP}"
                       style="padding-bottom: 30px">Tất cả</a>
                </li>
                <th:block th:each="lsp : ${listLoai}">
                    <li class="nav-item">
                        <a class="page-link" th:href="@{'/product/listSP/'+${lsp.ten}}" th:text="${lsp.ten}"
                           style="padding-bottom: 30px"></a>
                    </li>
                </th:block>
            </ul>
        </div>
        <div class="col-lg-9">
            <div class="row">
                <div class="col-lg-4 col-md-6" th:each="sp : ${list}" style="padding-bottom: 15px">
                    <a th:href="@{'/product/detail/' + ${sp.id}}">
                        <div class="card">
                            <img
                                    th:src="@{'/img/'+${sp.image}}"
                                    class="card-img-top"
                                    alt="..."
                                    style="height: 250px"
                            />
                            <div class="card-body">
                                <h5 class="card-title" th:text="${sp.ten}"></h5>
                                <p class="card-text">
                                    <span class="price" th:text="${sp.giaBan}">$</span>
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js"
        integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js"
        integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ"
        crossorigin="anonymous"></script>
</body>
</html>